//Colors
$red: hsl(12, 88%, 59%)
$blue: hsl(228, 39%, 23%)

$grayblue: hsl(227, 12%, 61%)
$darkblue: hsl(233, 12%, 13%)
$palered: hsl(13, 100%, 96%)
$gray: hsl(0, 0%, 98%)

// Fonts
$font-stack:    Be Vietnam, sans-serif
$normal-weight:   400;
$medium-weight:   500;
$bold-weight:     700;
$size: 16px;

