* {
	font-family: 'Be Vietnam', sans-serif;
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;

}
html, body {
    margin: 0;
    height: 100%;
}
body:before {
	content: url("./images/bg-tablet-pattern.svg");
	  z-index: -1;
    position: absolute;
    width: 814px;
    top: -30%;
    right: -10%;
    overflow-x: visible;
}
footer:before {
	content: url("./images/bg-tablet-pattern.svg");
	z-index: -1;
    position: absolute;
    width: 814px;
    top: 180%;
    left: -40%;
    overflow-x: visible;
}
header {
	margin:  10vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	top: 0;
	padding: 5px;
	height: 10vw;
	margin-top: 8vw;
	align-content: center;
}
a {
	text-decoration: none;
	color:  hsl(233, 12%, 13%);}
a:hover {
color: hsl(227, 12%, 61%);
}

ul li {
	display: inline;
	text-decoration: none;
	padding: 10px;

	}
a.button {
	background-color:hsl(12, 88%, 59%);
	color: white;	
	border-radius: 100px ;
	font-weight: 700;
	padding: 10px 30px;
	text-decoration: none;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

a.button:hover{
	background-color: #f98f75;

}
a.white{
	background-color: white;
	color: hsl(12, 88%, 59%);	
}
a.white:hover{
	color:  #f98f75;
	background-color: white;
}


.welcome {
	margin-top: 50px;
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	padding-right: 10vw;
    padding-left: 10vw;
	
}


.welcome-img {
	width: 50%;
}

.welcome-text {
	width: 40%;
}
h1 {
	font-weight: 700;
	color:  hsl(228, 39%, 23%);
	font-size: 3rem;
}
.welcome-text p {
	color: hsl(227, 12%, 61%);
	width: 80%;
	padding-top: 50px;
}

.features {
	margin-top: 50px;
	width: 100%;
	display: flex;
	flex-direction: row;
	padding-right: 10vw;
    padding-left: 10vw;

}

.features-1 {
	width: 50%;
	
}
h2 {
	font-size: 2.5rem;
	color: hsl(228, 39%, 23%);
	font-weight: 700;
	padding: 10px;
	line-height: 110%;
}
.features-1 p {
	color: hsl(227, 12%, 61%);
	padding: 10px;
	padding-right: 20%;
}
.features-2 {
	width: 50%;
}

ol {
	margin: 0;
    padding: 0;
    list-style-type: none;
}

ol li {
	counter-increment: step-counter;
    margin-bottom: 10px;
}
ol li::before {
  position: absolute;
  content: counter(step-counter);
  margin-right: 5px;
  background-color: hsl(12, 88%, 59%);;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 100px;
  width: 70px;
  text-align: center;
 
}
.features-item h3 {
	margin: 10px;
	margin-left:  100px;
	color: hsl(228, 39%, 23%);
	padding: 10px;
	font-weight: 700;
}

.features-item p {
	margin-left:  100px;
	padding: 10px;
	color: hsl(227, 12%, 61%);
}
.testimonials-wrap {
	text-align: center;
}
.testimonials {
	display: flex;
	/* Hide scrollbar for IE, Edge and Firefox */
	overflow-x: auto;
	height: fit-content;
}
.testimonials::-webkit-scrollbar {
    width: 0px;
    display: none;
}
.testimonials::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 98%);
  outline: 1px solid hsl(0, 0%, 98%);
}

.testimonials-title {
	width: 100%;
	padding-top: 50px;
	text-align: center;
}
.testimonial {
	background-color: hsl(0, 0%, 98%);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	min-width: 30vw;
	padding-top: 50px;
	margin: 20px;
	margin-top: 50px;
}

figcaption {
    color: hsl(228, 39%, 23%);
	padding: 10px;
}
figure:before {
	transform: scale(.6);
    display: inline-block;
    position: relative;
    height: 0px;
    top: -100px;
}
figure.t-1:before {
	content: url("./images/avatar-anisha.png");
}
figure.t-2:before {
	content: url("./images/avatar-ali.png");
}
figure.t-3:before {
	content: url("./images/avatar-richard.png");
}
figure.t-4:before {
	content: url("./images/avatar-shanai.png");
}
blockquote {
	padding: 10px;
	min-height: 120px;
}
.testimonials-wrap button {
	margin: 50px;

}
.quote {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-right: 10vw;
    padding-left: 10vw;

 
}
/*.quote:before {

	content: url("./images/bg-tablet-pattern.svg");
	z-index: -1;
    position: absolute;
    width: 814px;
    top: 0px;
    left: 0px;
    overflow-x: visible;
}
*/

.bg-pattern {
	background: linear-gradient(
      rgba(242,95,58,0.5),
      rgba(242,95,58,0.5)
    ),
    url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Crect width='436' height='970' x='774' y='-62' fill='hsl(13, 100%, 96%)' fill-rule='evenodd' rx='218' transform='rotate(45 718.814 -291.157)'/%3E%3C/svg%3E" )
      ;
   
}
.quote p {
	font-size: 2rem;
	font-weight: 700;
	color: white;
}
footer {
	background-color: black;
	padding-right: 10vw;
    padding-left: 10vw;
    width: 100%;
    padding-top: 50px;
	padding-bottom: 50px;
	color: white;
	display: flex;
	flex-direction: column;
	min-height:  300px;
}
footer > .row {
	height: 200px;
}
input {
	padding: 10px 20px;
	border: none;
	border-radius: 100px ;
	font-weight: 700;
	color:  hsl(227, 12%, 61%);
	margin: 0px 10px 0 10px;
}
input:focus{
    outline: none;
    color:  hsl(227, 12%, 61%);
}

button {
	background-color:hsl(12, 88%, 59%);
	color: white;	
	border-radius: 100px ;
	font-weight: 700;
	padding: 10px 30px;
	text-decoration: none;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	border: 0px;
}

button:hover{
	background-color: #f98f75;

}
.news-input {
	display: flex;
	flex-direction: row;
}

#footer-menu {
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
	padding-left: 10px;
	padding-right: 50px;	
	max-height: 200px;
}
#footer-menu >* {
        flex: 1 1 1rem;
    }
#footer-menu a {
	text-decoration: none;
	color: white;}
#footer-menu a:hover {
color: hsl(12, 88%, 59%);
}


/*
.bg-oval {
    z-index: -1;
    position: absolute;
    width: 1000px;
}
*/


footer .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

footer .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 100%;
}


.icons-social ul li a {
	width: 20px;
	height: 20px;
	text-decoration: none !important;
}
.icons-social ul li a:hover{
	color: hsl(12, 88%, 59%);
}
svg {
	fill: white;
}
svg:hover {
	fill: hsl(12, 88%, 59%);
}


.att, .att *{ color:  hsl(227, 12%, 61%);font-size: 11px; text-align: right; }

@media only screen and (max-width: 375px) {
  body {
    background-color: lightblue;
  }
}